<div class="section" style="background-image:url()">
    <div class="container py-5 vh-100">
        <div class="jumbotron jumbotron-fluid px-4">
            <h1 class="display-4">{{title}}</h1>
            <p class="lead">Welcome to Ascent Events Calendar. Get started with publishing your events all over the web today.</p>
        
        </div>
    </div>
</div>