.section {
    background-size: cover;
    background-position: center center;
}
.toast {
    min-width: 260px;
}
.time-active #time-dropdown, .projects-active #project-dropdown, .clients-active #client-dropdown {
    color: #fff;
    background-color: #007bff;
}
.form-group .select2-container {
    width:100%!important;
}
@media only screen and (min-width: 800px) {
    .add-button-li {
        margin-left: auto!important;
    }
}