<div class="container my-4 p-3 bg-light">
    <ul class="nav nav-pills {{endpoint}}-active">
        <li class="nav-item dropdown m-2">
            <a id="time-dropdown" class="nav-link btn-secondary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Time Tracking</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/time/">Daily</a>
                <a class="dropdown-item" href="/time/?view=timeGridWeek">Week Overview</a>
                <a class="dropdown-item" href="/time/?view=dayGridMonth">Month Overview</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/time/add/">Add Time</a>
            </div>
        </li>
        <li class="nav-item dropdown m-2">
            <a id="project-dropdown" class="nav-link btn-secondary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/projects/">All Projects</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/projects/add/">Create Project</a>
            </div>
        </li>
        <li class="nav-item dropdown m-2">
            <a id="client-dropdown" class="nav-link btn-secondary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clients</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/clients/">All Clients</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/clients/add/">Create Client</a>
            </div>
        </li>
        <li class="nav-item m-2 add-button-li">
            <a class="nav-link btn-success" href="/{{endpoint}}/add/">Add Item +</a>
        </li>
    </ul>
</div>